pkgbase = discord
	pkgdesc = Discord using system provided electron (v22) for increased security and performance
	pkgver = 0.0.50
	pkgrel = 1
	url = https://discord.com
	arch = x86_64
	license = custom
	makedepends = asar
	makedepends = curl
	makedepends = python-html2text
	depends = electron22
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
	optdepends = libpulse: Pulseaudio support
	optdepends = xdg-utils: Open files
	provides = discord
	conflicts = discord
	options = !strip
	source = https://dl.discordapp.net/apps/linux/0.0.50/discord-0.0.50.tar.gz
	sha512sums = 8e745436645ab8aa3fae582e125224b81c8556b74b40476ead337594f377fab95684a96287c53510d3838e948a64e0397f07ca8a76f6d99cd243af6a06080873

pkgname = discord
