pkgbase = discord
	pkgdesc = Discord using system provided electron (v22) for increased security and performance
	pkgver = 0.0.34
	pkgrel = 1
	url = https://discord.com
	arch = x86_64
	license = custom
	makedepends = asar
	makedepends = curl
	makedepends = python-html2text
	depends = electron22
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
	optdepends = libpulse: Pulseaudio support
	optdepends = xdg-utils: Open files
	provides = discord
	conflicts = discord
	options = !strip
	source = https://dl.discordapp.net/apps/linux/0.0.34/discord-0.0.34.tar.gz
	sha512sums = 28ab59e18ca3c800030c7c4b4f016efed033e741ad42f18b993e8493d51a78d430a4ff3c0a3457fdf8b43907a013f3145e67748e7a896d440af56074226c5c46

pkgname = discord
