pkgbase = discord
	pkgdesc = Discord using system provided electron (v22) for increased security and performance
	pkgver = 0.0.28
	pkgrel = 1
	url = https://discord.com
	arch = x86_64
	license = custom
	makedepends = asar
	makedepends = curl
	makedepends = python-html2text
	depends = electron22
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
	optdepends = libpulse: Pulseaudio support
	optdepends = xdg-utils: Open files
	provides = discord
	conflicts = discord
	options = !strip
	source = https://dl.discordapp.net/apps/linux/0.0.28/discord-0.0.28.tar.gz
	sha512sums = 763fe47a0fb21a13e852bcc818d4e0e2ea4faf23fcfdc02fddfe06e8c829499e028e27b45d807d3b3edcc36788990f3f21c0460b9b8efc538b62f3b41aeb744d

pkgname = discord
